.productShape1inner {
    height: 200px;
    position: relative;
    z-index: -1;
}

.productShape1inner:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to left bottom, #ffffff 50%, transparent 50%) repeat scroll 0 0;
}

.footer-area.v2,
.price-area.v2,
.product-area.v2,
.header-area.v2 {
    background-image: -webkit-gradient(linear, left top, right top, from(#5040F4), to(#31B4FE));
    background-image: linear-gradient(to right, #5040F4 0%, #31B4FE 100%);
}

.footer-area.v2 {
    margin-top: 200px;
}

.angle-3,
.angle-2,
.angle-1 {
    position: relative;
    z-index: 1
}

/*--------------------
8. Subscribe-Form
---------------------*/

.subscribe-area {
    padding: 100px 100px;
    -webkit-box-shadow: 0 0 50px 0 rgba(80, 107, 135, 0.34);
    box-shadow: 0 0 50px 0 rgba(80, 107, 135, 0.34);
    border-radius: 10px;
    background-color: #ffffff;
}

.subscribe-area.v2 {
    margin-top: -200px;
}

.product-single-slider .item {
    text-align: center;
    display: inline-block;
}

.over-hidden {
    overflow: hidden;
}

/*--------------------
13. Subscribe-Form
---------------------*/

#mc-form {
    position: relative;
}

#mc-form .mt10 {
    position: absolute;
    top: 105%;
}

.subscribe-area .form-input {
    padding: 17px 20px;
    border: 2px solid #EBEBEB;
    color: #0F1D46;
    margin-right: 15px;
    width: calc(100% - 280px);
    border-radius: 5px;
    outline: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.subscribe-area .form-input:focus {
    border: 2px solid #acacac;
}

.subscribe-area .submit {
    width: 250px;
    text-align: center;
    -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    display: inline-block;
}

.subscribe-area .submit:after {
    opacity: 0;
}

.subscribe-area.v2 .submit:after {
    background: #1980FA;
}

.subscribe-area.v3 .submit:after {
    background: #A930E4;
}

.subscribe-area .info {
    text-align: center;
    margin-top: 30px;
}

.text-box.camera-title h3.title {
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
}
.camera-title{
    font-size: 18px;
    line-height: 34px;
}
.pre-btn.bttn-3:after {
    background: -webkit-gradient(linear, right top, left top, from(#5B69FF), to(#674DD6));
    opacity: 1;
}


.subscribe-area h1.title{
    font-size: 60px;
    line-height: 65px;
}


.customOverlay {
    background: rgba(0, 0, 0, 0.5) !important;
}

.react-responsive-modal-root{
    z-index: 9999;
}

.customModal {
    border-radius: 5px;
    max-width: 800px;
    width: 100%;
}

.authCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 550px;
    padding: 80px 0 0;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 20px 150px rgb(0 0 0 / 5%);
}

.authCard img {
    margin: 0 auto 30px;
    width: 140px;
    height: 140px;
    object-fit: contain;
}

.authCard h2 {
    color: #2f2e41;
    margin: 0 0 6px;
}

.authCard h3 {
    color: #69687a;
    margin: 0 0 24px;
    font-weight: 400;
    font-size: 14px;
    align-self: stretch;
}

.authCard input,
.authCard button {
    display: block;
    height: 48px;
    margin: 0 40px;
    border-radius: 4px;
    font-size: 16px;
    font-family: inherit;
    outline: none;
    text-align: center;
}

.authCard input {
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.16);
    padding: 12px;
    margin-bottom: 8px;
}

.authCard input::placeholder {
    color: rgba(0, 0, 0, 0.24);
}

.authCard button {
    background: #9563ff;
    color: #f9f9f9;
    border: 0;
    cursor: pointer;
    transition: 0.175s;
}

.authCard button:disabled {
    background: #e1e0e8;
    color: #bbbac5;
    cursor: not-allowed;
}

.authCard button.secondary {
    background: transparent;
    color: #7e7d8a;
}

.authCard button[type="submit"] {
    margin-bottom: 8px;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex !important;
    flex-direction: column;
    text-align: center;
}

@keyframes spin {
    100% {
        rotate: 1turn;
    }
}

.spinner {
    position: absolute;
    top: 69%;
    right: 50px;
    translate: 0 -50%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 3px solid #ccc9e1;
    border-top-color: #8f44fd;
    opacity: 0;
    animation: spin 1s infinite linear;
}

.spinner.visible {
    opacity: 1;
}

.alert {
    overflow: hidden;
    padding: 0 16px;
    color: #ff3e72;
    height: 0;
    transition: 0.3s;
}

.alert.visible {
    height: 32px;
}

.indicator {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bars {
    margin: 8px 0;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 6px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
}

#bars div {
    height: 6px;
    border-radius: 3px;
    transition: 0.4s;
    width: 0%;
}

#bars.weak div {
    background: #bc2b38;
    width: 33.33%;
}

#bars.medium div {
    background: #d36f30;
    width: 66.66%;
}

#bars.strong div {
    background: #1eb965;
    width: 80%;
}

.strength {
    text-align: center;
    height: 30px;
    text-transform: capitalize;
}

.toggle {
    position: absolute;
    top: 69%;
    right: 10px;
    translate: 0 -50%;
    width: 30px;
    height: 30px;
    background-image: url("/show.svg");
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
}

.toggle.showing {
    background-image: url("/hide.svg");
}

.bttn-4 {
    display: inline-block;
    padding: 18px 50px;
    background: #103178;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: none;
}

.bttn-4:hover {
    background-color: #ffffff;
    color: #103178;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}